.z1{
 font-family:'Raleway';
 width: fit-content;
 margin: auto;
 padding: 20px 10px;
color: rgb(255, 255, 255);
}

body{
    background-color: rgb(39, 39, 39);

}

#home{
    display: flex;
    flex-wrap: wrap;
}


.el1{
    stroke: rgb(71, 71, 71);
    fill: url(#grad1);

}

.main_name_svg .akhlesh{
    margin-right: 10px;
    margin-bottom: 10px;
}

.main_name_svg{
    display: flex;
    flex-wrap: wrap;
}


.z1 h1{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 5px;
}

.z1 h2{
    font-weight: 100;
    margin-top: 10px;
}

@media screen and (max-width:800px){
    .svg_container{
        position: absolute;
        right: 0px;
        z-index: -3;
    }
}
#navbar{
    background-color: rgb(44, 44, 44);
    width: fit-content;
  border-radius: 10px;
    position: absolute;
    bottom: 10px;
  
}
 .fas{
    font-size: 20px;
}

#navbar ul{

    display: flex;
    list-style: none;
    color: white;
    padding: 0 5px;
}

#navbar ul li{
    margin: 5px 20px;
}

.z1 .h4{
    padding: 10px 15px;
    border: 1px solid rgb(255, 0, 179);
    width: fit-content;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(255, 0, 179);
    font-weight: 100;
    transition: 0.2s;
}

.z1 .h4:hover{
    border:1px dotted white;
}


.main_back{
  margin: auto;
    z-index: -2;
    height: 600px;
    width: 400px;
}
.svg_container{
    margin: auto 0px auto auto;
}
